/* @import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

/* div{
    border:#303030 solid 2px;
} */

html, body {
  height: 100%;
    scroll-behavior: smooth;
}

body{
    /* position: relative; */
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: 	#303030;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: #F2EAD0;
    border-radius: 10px;
    padding-bottom: 1rem;
    margin: 1rem;
    /* position: relative; */
    top: 0;
    z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 102px;
} */

.news-head-title{
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 15px;
    font-size: 3rem;
    display: block;
}

#buttons_countries_container button{
    font-size: 1.5rem;
}

a button:hover, a:visited, a:link, a:active {
    text-decoration:  none;
}


#buttons_countries_categories button{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    letter-spacing: 2px;
}

#buttons_countries_categories button:hover{
    color: grey;
}

/* .narrow-column-content{
    background-color: #F4F7F4;
} */

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    align-self: center;
    background-size: contain;
}

/* img:hover{
    opacity: 1.0;
} */

.content-wide{
    /* background-color: #F2EAD0; */
    border-radius: 10px;
    float: center;
}

a:hover, a:visited, a:link, a:active {
    text-decoration:  none;
}

a h1{
    color: #303030;
    font-family: 'PT Serif', serif;
}

a h1:hover{
    text-decoration: none;
    color: grey;
 
}